img.card-img {
    height: 300px;
}


a.btn.btn-primary {
    background: #191970;
    border: 1px solid #191970;
}

.container-fluid.roomcontainer {
    width: 96%;
    margin: auto;
    margin-top: 80px;
}

a.btn.btn-primary:focus, a.btn.btn-primary:hover{
    outline:none;
    background: #191970;
}

small.text-muted.card_price {
    font-size: 19px;
    color: #191970 !important;
}